* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: silver;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 16px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.logo h1 {
  margin-right: auto;
}

.logo li {
  list-style: none;
  margin-inline: 22px;
}

.logo li:hover {
  color: aqua;
  cursor: pointer;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-left: 10px;
}

.searchBar input {
  width: 220px;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  margin-inline: 5px;
}

.searchBar button {
  width: 80px;
  height: 32px;
  background-color: rgb(0, 140, 255);
  color: white;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.category {
  margin-top: 16px;
  color: black;
  text-align: center;
}

.cardData {
  display: grid;
  width: 90%;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 11px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h3 {
  margin-top: 10px;
  padding: 3px;
  font-size: 1.2rem;
}

.card p {
  margin-top: 10px;
  padding: 2px;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .searchBar {
    justify-content: center;
    margin-top: 16px;
  }
  
  .category {
    margin-top: 24px;
  }
}

@media (max-width: 775px) {
  .logo li {
    display: none;
  }
  
  .searchBar input {
    width: 100%;
  }
  
  .searchBar button {
    width: 100%;
    margin-top: 5px;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    justify-content: center;
    margin-bottom: 10px;
  }

  .searchBar {
    flex-direction: column;
    align-items: center;
  }

  .category {
    margin-top: 20px;
    font-size: 1rem;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}
